.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
database/*.sqlite*
docs
.DS_Store
.phpunit.cache
.phpunit.result.cache
