@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

body { font-family: Inter, ui-sans-serif, system-ui, sans-serif; }
.font-serif { font-family: Georgia, Cambria, "Times New Roman", serif; }
